# SERVER 
PORT=3000 # port to run the server
RATE_LIMIT_DEFAULT_TTL=1 # in seconds, default rate limit ttl
RATE_LIMIT_DEFAULT_LIMIT=4  # requests per default rate limit ttl
RATE_LIMIT_EMAIL_TTL=60 # in seconds, email ttl for rate limit
RATE_LIMIT_EMAIL_LIMIT=100 # requests per email ttl

# DATABASE
DATABASE_URL="" # prisma database url
DATABASE_ADMIN_EMAIL="" # admin email
DATABASE_ADMIN_PASSWORD="" # admin password
DATABASE_ADMIN_NAME="" # admin name 
DATABASE_ADMIN_LASTNAME="" # admin last name

# AUTH
HASH_ROUNDS=10 # number of rounds to hash the password
JWT_SECRET="" # secret to sign the jwt
JWT_EXPIRES_IN="1d" # jwt expiration time

# EMAIL OTP
OTPS_EXPIRES_IN=3

# RECOVERY PASSWORD
FORGOT_PASSWORD_TOKEN_EXPIRES_IN=15 # token expiration time for forgot password in minutes
FORGOT_PASSWORD_PAGE="" # page that the user will be redirected to reset the password

# SMTP
SMTP_HOST="smtp.example.com" # smtp server
SMTP_PORT= # 587 or 465
SMTP_SECURE= # if 465, true else false
SMTP_USER="" # smtp user
SMTP_PASS="" # smtp app password
SMTP_DEFAULT_FROM="" # default "from" email info, example: "EEE Ahuachapán Web <notificacioneseeea@gmail.com>"
SMTP_CONTACT_US_EMAIL="" # email to send contact us form

# CLOUDINARY
CLOUDINARY_NAME="" # cloudinary name
CLOUDINARY_API_KEY="" # cloudinary api key
CLOUDINARY_API_SECRET="" # cloudinary api secret
CLOUDINARY_FOLDER=""

# DEI Booking integration
DEI_API_URL="" # DEI Booking API URL
DEI_AUTH_PATH="" # DEI Booking authentication path
DEI_USERNAME="" # DEI Booking username
DEI_PASSWORD="" # DEI Booking password
DEI_IDENTIFIER="" # DEI Booking identifier
DEI_TOKEN_EXPIRATION=1800 # Token expiration time in seconds (e.g., 1800 seconds = 30 minutes)

# MQTT
MQTT_URL="mqtt://localhost:1883" # MQTT broker URL
MQTT_USERNAME="" # optional username
MQTT_PASSWORD="" # optional password
MQTT_CLIENT_ID="robotautomation-api" # optional custom client id
MQTT_KEEPALIVE=60 # keepalive in seconds
MQTT_RECONNECT_PERIOD=5000 # reconnection delay in ms
